.oneCell {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    background-color: black;
    border: 1px solid aqua;
    box-sizing: border-box;
}

.selected {
    background-color: orangered;
    width: 200px;
    height: 200px;
    border-radius: 25px;
    border: 1px solid black;
    box-sizing: border-box;
}